{%extends 'base.html' %}
{%block content%}
<br>
<h2><strong>{{customer_record.first_name}} {{customer_record.last_name}}</strong></h2><br>


  <table class="table table-hover  table-sm table-striped">

      <tr>
        <th scope="col">ID</th>
        <td>{{customer_record.id}}</td>
      </tr>
      <tr>
        <th scope="col">Email</th>
        <td>{{customer_record.email}}</td>
      </tr>
      <tr>
        <th scope="col">Phone no.</th>
        <td>{{customer_record.phone_no}}</td>
      </tr>
      <tr>
        <th scope="col">Address</th>
        <td>{{customer_record.address}}</td>
      </tr>
      <tr>
        <th scope="col">City</th>
        <td>{{customer_record.city}}</td>
      </tr>
      <tr>
        <th scope="col">Zipcode</th>
        <td>{{customer_record.zipcode}}</td>
      </tr>
      <tr>
        <th scope="col">Created at</th>
        <td>{{customer_record.created_at}}</td>
      </tr>

    </table>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-dark">Update</a>
    <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

{%endblock%}
